.xrpchart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  gap: 20px; 
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
  top: 0; 
  z-index: 100; 
  background-color: #bbb;
  padding: 10px; 
  border-radius: 8px;
}

.xrppage-wrapper {
  z-index: 2;
  position: relative;
}

.xrpchart-wrapper {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  background-color: #939393;
  border: 3px solid transparent;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
}

.xrpchart-wrapper canvas {
  background-color: #f0f0f0;
  border: 1px solid #C4BCC8;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.xrpchart-container canvas {
  width: 100%;
  height: 360px; 
}

.xrpchart-wrapper.bar {
  flex: 1 1 100%;
  max-width: 100%;
}

.xrpchart-wrapper.bar canvas {
  width: 100% !important;
  height: 360px !important; 
  max-height: 360px !important; 
}

.xrpquery-container {
  flex: 1; 
  margin: 0 10px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.xrpquery-container select {
  font-size: 0.8em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: #f0f0f0;
  padding: 0.375rem 0.75rem;
  border: 3px solid transparent;
  border-radius: 0.25rem;
  background-color: #010b13;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.xrpquery-container option {
  font-size: 1em;
  background-color: #aaa;
  color: #010b13;
  font-weight: 600;
}

.xrpchart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.xrpchart-header h2 {
  margin-top: 0;
  font-size: 1.25em;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.xrpchart-details {
  padding: 5px; 
  background-color: #ccc;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  position: relative;
  line-height: 1.2; 
  min-height: 40px; 
  max-height: 150px;
  overflow: auto; 
}

.xrpchart-details ol {
  list-style-type: decimal;
  padding-left: 10px; 
  margin-left: 0;
  list-style-position: inside;
}

.xrpchart-details li {
  text-align: left;
  margin-bottom: 5px; 
  line-height: 1.2; 
}

.bnbchart-details h3 {
  margin-bottom: 10px;
}

.xrpinfo-icon {
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 25px;
  transition: transform 0.3s ease;
}

.xrploading-indicator {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #010b13;
  margin-top: 10px;
}

.xrploading-indicator span {
  margin-left: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

.xrpchart-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.xrpchart-content {
  margin-top: 5px; 
  font-size: 0.85em; 
  color: #555;
  line-height: 1.2;
  height: auto; 
  max-height: 100px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.xrpchart-item.collapsed .xrpchart-content {
  display: none;
}

.xrpinsight-navigation {
  display: flex;
  justify-content: center;
  font-size: 1.2em; 
}

.xrpnav-arrow {
  cursor: pointer;
  user-select: none;
  color: #777;
  padding: 0 5px; 
  font-size: 0.85em; 
  text-decoration: none;
}

.xrpnav-arrow:hover {
  color: #555;
}

.xrpchart-wrapper.heatmap {
  flex: 1 1 100%; 
  max-width: 100%; 
}

.xrpchart-wrapper.heatmap canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 200px !important; 
}

